<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- only log DEBUG and below to the console -->
            <LevelRangeFilter maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%highlight{%msg%n}"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="${sys:logFilename}" filePattern="${sys:logFilename}%i">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %replace{%msg}{\r?\n}{}%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="log/">
                    <IfAccumulatedFileCount exceeds="1"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>