body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
	width: 100%;
}

.compass.leaflet-control-custom {
	clear: none;
}

.button.leaflet-control-custom {
	margin-left: -2px;
	clear: none;
}

.leaflet-control-layers-expanded:hover {
	border-color: rgb(137, 132, 209);
}

.button:hover {
	border-color: rgb(137, 132, 209);
}

.center {
	text-align: center;
}

.chest_container {
        font-size: 0;
        line-height: 0;
        width: 528px;                   /* Do not rely on scale and set size explicitly so that leaflet popup can adjust its size properly */
        height: 234px;                  /* These should therefore be set to scale*chest_image_size */
}

.chest_container.large {
        height: 396px;
}

.chest_scaler {
        image-rendering: crisp-edges;   /* Use neirest neighbour to keep pixelated look */
        scale: 3;                       /* Use integer scale for best look */
        position: absolute;
        transform-origin: top left;
        width: 0;
}

.chest_scaler>div {
        position: absolute;
}

.item img {
        width: 16px;
        height: 16px;
}

@keyframes enchanted_glint {
        0% {
                background-position-x: 0px;
                background-position-y: 0px;
        }
        100% {
                background-position-x: -384px;
                background-position-y: -256px;
        }
}

.item .enchanted {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        background-image: url('../Images/EnchantedGlint.png');
        mix-blend-mode: color-dodge;
        animation: enchanted_glint 32s linear infinite;
}

.item .item_description {
        position: absolute;
        left: 19px;
        top: -6px;
        visibility: collapse;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.9);
        padding: 3px;
        outline: solid 1px #280459;
        outline-offset: -2px;
        line-height: 1px;
}

.item:hover .item_description {
        visibility: visible;
}

.item_description .mc_text_container {
        position: relative;
        width: max-content;
}

.item_description .mc_char {
        position: relative;
        filter: contrast(25%) drop-shadow(1px 1px rgba(70, 70, 70, 0.9));
}

.item_description .name .mc_char {
        filter: drop-shadow(1px 1px rgba(70, 70, 70, 0.9));
}

.item_description .renamed {
        transform: skew(-20deg, 0);
}

.mc_text_container {
        position: absolute;
}

.mc_char {
        background: url('../Images/Font.png') no-repeat;
        display: inline-block;
        width: 6px;
        height: 8px;
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.9));
}

.item_count {
        right: 0;
        bottom: 0;
}

.item_name {
        position: absolute;
        top: 0;
        left: 0;
        scale: 33.33%;
        width: 300%;
        transform-origin: top left;
}

.chest_name {
        top: 6px;
        left: 7px;
        width: 162px;
        height: 9px;
}

.chest_name .mc_char {
        filter: invert(80%);
}