body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
	width: 100%;
}

.leaflet-control-layers {
	clear: none;
}

.compass.leaflet-control-custom {
	clear: none;
}

.button.leaflet-control-custom {
	margin-right: 8px;
	clear: none;
}

.leaflet-control-layers-expanded:hover {
	border-color: rgb(137, 132, 209);
}

.button:hover {
	border-color: rgb(137, 132, 209);
}

.center {
	text-align: center;
}