html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { width:100%; height:100% }

Test
{
	border-style: solid;
	border-width: 2px;
	border-color: #666699;
	cursor: pointer;
	text-align: center;
	padding: 2px;
}

.button
{
	border-style: solid;
	border-width: 2px;
	border-color: #666699;
	cursor: pointer;
	text-align: center;
	padding: 2px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.buttonLeft
{
	border-style: solid;
	border-width: 2px;
	border-color: #666699;
	cursor: pointer;
	text-align: center;
	padding: 2px;
	
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.shadow
{
	-moz-box-shadow:    3px 3px 5px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
	box-shadow:         3px 3px 5px rgba(0,0,0, 0.5);
}


.button:hover
{
	border-color: #bbb;
}

.button:active
{

}